[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/wutown
[access "refs/for/refs/*"]
	read = group user/wutown
	push = group user/wutown
	label-Code-Review = -2..+2 group user/wutown
	label-Verified = -1..+1 group user/wutown
	rebase = group user/wutown
	removeReviewer = group user/wutown
	submit = group user/wutown
[access "refs/heads/*"]
	read = group user/wutown
	create = group user/wutown
	push = +force group user/wutown
	pushMerge = group user/wutown
[access "refs/tags/*"]
	push = +force group user/wutown
	pushTag = group user/wutown
	pushSignedTag = group user/wutown
